[Unit]
Description=uWSGI instance to serve zbxsyncer
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/opt/production/zbxsyncer
Environment="PATH=/opt/production/zbxsyncer/venv/bin"
ExecStart=/opt/production/zbxsyncer/venv/bin/uwsgi --ini zbxsyncer.ini
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
