<!DOCTYPE html>
<html style="height:100%">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - ZBXReporter</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/datatables.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/datatables.min.js') }}"></script>

  </head>
  <body style="height:100%">
    {% include 'includes/_navbar.html' %}
    <div class="container-fluid" style="padding-top: 50px; padding-bottom: 20px; min-height: 95%;">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <p class="text-muted text-right">
          Contact: R.Leschuk, email: <a href="mailto:roman.leshchuk@domru.ru">roman.leshchuk@domru.ru</a>, telegram: <a href="https://telegram.me/rleschuk">@rleschuk</a>
        </p>
      </div>
    </footer>
  </body>
</html>
